

  .completed {
    text-decoration: line-through;
  }
  
  .form-inline .form-control {
    width: auto;
    flex: 1;
  }
  
  .list-group-item.completed .text-muted {
    text-decoration: line-through;
  }
  
  .todo-list {
    max-height: 40rem; /* Tinggi maksimal untuk daftar tugas */
    overflow-y: auto; /* Tambahkan scroll jika daftar tugas terlalu panjang */
  }
  